#div_indexy {
	margin-top: 20px;
	background-color: #ca1515;
	text-align: center;
	height: 100%;
}

#slidecontainer {
	margin: auto;
	width: 80%; /* Width of the outside container */
}

#giftideasHeadline {
	color: white;
	font-family: Arial;	
	font-size: 35px;
	
}


#giftDisplay {
	color: white;
	font-family: Arial;
	font-size: 15px;
}


#div_giftsDisplay {
	border-radius: 5px;
	background: white;
	border: 2px solid black;
	height: 130px;
	width: 85%;
	font-size: 12px;
	background-color: #ca1515;
	font-family: Arial;
	color: white;
	border: 0;
	border: 2px dotted;
	margin: auto;
}



#slideintroText {
	color: white;
	font-family: Arial;
	font-size: 15px;
}

/* The slider itself */
.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;
	background: white;
	border: 2px solid black;
	outline: none;
	opacity: 1;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

	.slider::-webkit-slider-thumb {
		-webkit-appearance: none;
		-appearance: none;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background: #005B00;
		cursor: pointer;
        border: 2px solid black; 
	}

	.slider:-moz-range-thumb {
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background: #4CAF50;
		cursor: pointer;
	}