#div_index {
    background-color: #ca1515;
    text-align: center;
    height: 100%;
}


.button_index {
    background-color: transparent;
    color: black;
    font-family: 'Futura Std';
    font-size: 20px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    padding: 1% 2% 1% 2%;
}

    .button_index:hover {
        color: white;
    }


#welcome_text {
    color: white;
    font-family: geektastic;
    font-size: 80px;
}
