#table_list {
    width: 100%;
    height: auto;
    background-color: aquamarine;
    font-family: 'Futura Std';
    margin-bottom: 550px;
}

.div_tr_th{
    width:100%;
}

.div_th{
    width: 33%;
    float:left;
}

.div_tr, .div_tr_person  {
    width: 100%;
}

.div_td {
    width: 20%;
    float: left;
    background-color: antiquewhite;
}
#div_td_receiver {
    width: 20%;
    float: left;
    background-color: tan;
}
#div_td_gift {
    width: 20%;
    float: left;
    background-color: Highlight;
}
#div_td_price {
    width: 20%;
    float: left;
    background-color: rebeccapurple;
}

#edit2 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



