#table_list{
    width: 100%;
    height: auto;
    background-color:aquamarine;
    font-family:'Futura Std'; 
}

.div_tr_th{
    width:100%;
}

.div_th{
    width: 33%;
    float:left;
}

.div_tr {
    width: 100%;
}

.div_td {
    width: 20%;
    float: left;
}

