

#button_myLists {
	text-align: center;
	width: 100%;
	background-color: transparent;
	font-family: Arial;
	font-size: 100%;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: 1px solid white;
	border-radius: 4px;
	cursor: pointer;
}


#div_myLists {
	width: 80%;
	margin: auto;
}


#ul_myBudgets {
	border-radius: 5px;
	background: white;
	border: 2px solid black;
	height: 130px;
	width: 85%;
	font-size: 12px;
	background-color: #ca1515;
	font-family: Arial;
	color: white;
	border: 0;
	border: 2px dotted;
	margin: auto;
}


