.UserNameTextInput {
	text-align: center;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: geektastic;
	font-size: 120%;
}

input[type=submit] {
	text-align: center;
	width: 100%;
	background-color: transparent;
	font-family: geektastic;
	font-size: 120%;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: 1px solid white;
	border-radius: 4px;
	cursor: pointer;
}

#registerContainer{
	
    margin:auto;
    width: 70%;
}

/*#welcome_text {
    font-family: 'Futura Std';
    font-size: 30px;
    padding: 0 0 0 0;
    text-align: center;
}*/

#undertext {
    font-family: 'Futura Std';
    font-size: 18px;
    padding: 0 0 0 0;
    text-align: center;
    float: left;
    width: 70%;
}

#div_santa {
    float: left;
    width: 30%;
}

#santa {
    height: 80px;
    width: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    /*-ms-transition: all 0.5s ease;*/
    transition: all 0.5s ease;
}

    #santa:hover {
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

