.UserNameTextInput {
	text-align: center;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: geektastic;
	font-size: 120%;
}

input[type=submit] {
	text-align: center;
	width: 100%;
	background-color: transparent;
	font-family: geektastic;
	font-size: 120%;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: 1px solid white;
	border-radius: 4px;
	cursor: pointer;
}

#registerContainer{
	
    margin:auto;
}
