#chart_div{
    position: relative; 
    margin: auto; 
    width: 80vh; 
    height: 80vh; 
}

/*#doughnut{
    /*height: 400px; 
    width: 400px; 
}*/

#text_setBudget{
    font-size: 30px; 
    height: 500px; 
}