#chart_div{
	position: relative; 
	margin: auto; 
	width: 80vh; 
	height: 80vh; 
}

/*#doughnut{
	/*height: 400px; 
	width: 400px; 
}*/


#text_setBudget {
	font-size: 24px;
	height: 500px;
	font-family: 'Futura Std';
	position: center;
	text-align: center;
	color: white;
}

input[type=text], select {
	text-align: center;
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: geektastic;
	font-size: 60%;
}

#button_setBudget {
    background-color: transparent;
    color: white;
    font-family: 'Futura Std';
    font-size: 15px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    padding: 1% 2% 1% 2%;
}

    .button_index:hover {
        color: white;
        border: 1px solid white;
    }


/*#submitknapp {
	text-align: center;
	width: 20%;
	background-color: transparent;
	font-family: geektastic;
	font-size: 80%;
	color: black;
	padding: 14px 20px;
	margin: 8px 0;
	border: 1px solid #282828;
	border-radius: 4px;
	cursor: pointer;
}

#submitknapp:hover {
	color: white;
	border: 1px solid white;
}*/