<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/layoutstyle.css" rel="stylesheet" />
</head>

<body>
    <div id="div_logga" class="backgroundColorBlack">
        <img id="logga_red" src="~/pictures/logo_red.png" />
    </div>
    <div id="div_content" class="backgroundColor">
        @RenderBody()


    </div>


    <div id="div_menu_all" class="backgroundColor">
        <a href="index">
            <div class="div_menu">
                <img class="menu_pic" src="~/pictures/home.png" />
                <p class="menu_text">Hem</p>
            </div>
        </a>
        <a href="setBudget">
            <div class="div_menu">
                <img class="menu_pic"src="~/pictures/budget.png" />
                <p class="menu_text">Budget</p>
            </div>
        </a>
        <a href="mainContent">
            <div class="div_menu">
                <img class="menu_pic" src="~/pictures/list.png" />
                <p class="menu_text">Lista</p>
            </div>
        </a>
        <a href="giftIdeas">
            <div class="div_menu">
                <img class="menu_pic" src="~/pictures/ideas.png" />
                <p class="menu_text">KlappTips</p>
            </div>
        </a>
        <a href="Settings">
            <div class="div_menu">
                <img class="menu_pic" src="~/pictures/settings.png" />
                <p class="menu_text">Inställningar</p>
            </div>
        </a>

    </div>


  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
        <script src="~/js/javascript.js"></script>
	<script src="~/js/TheChart.js"></script>
</body>
</html>
	