<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/layoutstyle.css" rel="stylesheet" />
</head>
<body>
    <div id="div_logga"><h1>KLAPPAPP</h1></div>
    <div id="div_content">
        @RenderBody()


    </div>
    <span id="span_meny">
        <span id="span_meny">
            <strong>
                <a asp-controller="home" asp-action="Index" class="a_meny">Hem</a>
                <a asp-controller="home" asp-action="MainContent" class="a_meny">Lista</a>
                <a asp-controller="home" asp-action="SetBudget" class="a_meny">Sätt Budget</a>
                <a asp-controller="home" asp-action="GiftIdeas" class="a_meny">Presentförslag</a>
                <a asp-controller="home" asp-action="Settings" class="a_meny">Inställningar</a>

            </strong>
        </span>
    </span>

    <script src="https://fb.me/react-15.0.0.js"></script>
    <script src="https://fb.me/react-dom-15.0.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script type="text/babel" src="~/js/budget_doughnut.jsx">
    </script>
</body>
</html>
