<link href="~/css/giftIdeas.css" rel="stylesheet" />

<div id="div_index">
	<h3>Idétorka?</h3> 
	<br/>
	<p id="giftDisplay"></p>
		<p>Den jag ska ge min julklapp till är <span id="demo"></span> år</p>
	<div id="slidecontainer">
		<input type="range" min="0" max="130" value="0" class="slider" id="myRange">
	</div>
</div>



<script src="~/js/giftIdeasJS.js"></script>