@section styleSheets
    {
<link href="~/css/giftIdeas.css" rel="stylesheet" />
}

<div id="div_indexy">
	<div id="giftideasHeadline">Idétorka?</div> 
	<div id="div_giftsDisplay">
		<p id="giftDisplay"></p>
	</div>
	<br/>
		<p id="slideintroText">Den jag ska ge min julklapp till är <span id="demo"></span> år</p>
	<br/>
	<div id="slidecontainer">
		<input type="range" min="0" max="130" value="0" class="slider" id="myRange">
	</div>
</div>



<script src="~/js/giftIdeasJS.js"></script>