@*@model HomeMainContentVM[]*@


@*@foreach (var item in Model)
    {
        <div>@item.PersonName</div>

        foreach (var gift in item.GiftItems)
        {
            <div>@gift.GiftName</div>
            <div>@gift.GiftPrice</div>
        }
    }*@

<link href="~/css/indexstyle.css" rel="stylesheet" />

<div id="div_index">
    <div id="div_hoho">
        <div id="welcome_text">Ho Ho Ho!</div>
    </div>
	<br />
	<img id="santa" src="~/pictures/santa.png"/>
    <br />
    <div id="div_budget_index">
        <input type="button" class="button_index" value="Skapa Budget" onclick="javascript: window.location.href='/home/SetBudget'" />
    </div>
	<br />
    <div id="div_mainContent_index">
        <input type="button" class="button_index" value="Skapa Lista" onclick="javascript: window.location.href='/home/MainContent'" />
    </div>
    
</div>
