<link href="~/css/maincontentstyle.css" rel="stylesheet" />
<h1>Lista</h1>

<div id="div_mainContent">
<div id="chartDiv" style="position: relative; height:100vh; width:100vw">

	<canvas id="doughnut"></canvas>

</div>

	<div id="table_list">   
		
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
@*<script src="~/js/TheChart.js"></script>*@
<script src="~/js/javascript.js"></script>

