<link href="~/css/maincontentstyle.css" rel="stylesheet" />

<div id="div_mainContent">
<div id="chartDiv" style="position: relative; height:auto; width:100%;">

	<canvas id="doughnut"></canvas>

</div>
	<div id="table_budget"></div>

	<div id="table_list">   
		
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
@*<script src="~/js/TheChart.js"></script>*@

