<link href="~/css/settingStyle.css" rel="stylesheet" />

<div><button id="button_logout">Logga ut</button></div>
<div id="div_radioButton">
    <form name="changeColor" method="post" action="">
        <input type="radio" name="changeColor" class="colorRadioBtn" value="g" onclick="changeColor('g')" /> Grön
        <input type="radio" name="changeColor" class="colorRadioBtn" value="r" onclick="changeColor('r')" /> Röd
        <input type="radio" name="changeColor" class="colorRadioBtn" value="s" onclick="changeColor('s')" /> Svart/vit
        <input type="button" value="Byt färg" id="btn_changeColor" />
    </form>
</div>

<script src="~/js/javascript.js"></script>