
<link href="~/css/myPagesStyle.css" rel="stylesheet" />
<div id="div_myPages">
    <div id="div_newBudget">
        <input type="button" class="button_myPage" value="Skapa ny budget" onclick="javascript: window.location.href='/home/SetBudget'" />
    </div>
    <br />
    <div id="div_myLists">
        <input type="button" id="button_myLists" value="Mina listor" />
        <ul id="ul_myBudgets"></ul>

    </div>


</div>


@section scripts
    {
    <script>
        $(document).ready(function () {
            $('#button_myLists').click(function () {
                showMyBudgets();
            });
        }); 
    </script>
}