@section styleSheets
    {
    <link href="~/css/myPagesStyle.css" rel="stylesheet" />
}

<div id="div_myPages">

    <div id="div_myLists">
        <input type="button" id="button_myLists" value="Mina listor" />
        <form actio >
            <ol id="ul_myBudgets"></ol>

        </form>


    </div>


</div>


@section scripts
    {
    <script>
        $(document).ready(function () {
            $('#button_myLists').click(function () {
                showMyBudgets();
            });
        });
    </script>
}