<link href="~/css/setbudgetstyle.css" rel="stylesheet" />


@*<div id="chartDiv" style="position: relative; height:100vh; width:100vw">

    <canvas id="pie"></canvas>

</div>*@

<div id="text_setBudget">
    
    <p>Hur givmild känner du dig i år?</p>
        <input type="text" id="budgetInputTextbox" name="Sätt budget" class="setBudget" placeholder="Skriv in din julklappsbudget här...">
        <br/>
	<input type="text" id="budgetNameInputTextbox" name="Sätt budgetNamn" class="setBudgetName" placeholder="...och namnet på din budget här!">
	<br />
        <button id="submitknapp" asp-controller="home" asp-action="MainContent">Klar!</button>
    
        
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
@*<script src="~/js/ChartForSetBudget.js"></script>*@
@*<script src="~/js/javascript.js"></script>*@




