<link href="~/css/setbudgetstyle.css" rel="stylesheet" />

<div id="chartDiv" style="position: relative; height:100vh; width:100vw">>

    <canvas id="doughnut"></canvas>

</div>

@*<div id="text_setBudget">
    Hej hej, sätt din budget här: 
    <button>Klar</button>
</div>*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/js/TheChart.js"></script>



